include ./nav.pug
head
	link(rel="stylesheet", href="./css/events.css")

body 
	section#home
		#head-back
		.title Events
	
	section.glass
		.sec#event
			.sec-title Events
			.content#ongoing
				.list 
					.head Ongoing
					ul
						each con in content 
							if con.timeline==="Ongoing"
								li= con.title
						li lorem
						li lorem
						li lorem
						li lorem
						li lorem
						li lorem
						li lorem
						li lorem
						li lorem
				.content-list 
					each con in content
						if con.timeline==="Ongoing"
							.content-div
								.name-title= con.title
								.desc= con.desc 
								img(src=drive + con.imgid)
			.content#upcoming
				.list 
					.head Upcoming
					ul
						each con in content 
							if con.timeline==="Upcoming"
								li= con.title 
								
				.content-list 
					each con in content
						if con.timeline==="Upcoming"
							.content-div
								.name-title= con.title
								.desc= con.desc 
								img(src=drive + con.imgid)
					
	
	include ./footer.pug
	script
		include ../js/nav.js
		include ../js/events.js